<h1>Test and Validation Defects</h1>

<h3>
<table>
  <thead>
    <tr>
      <th></th>
      <% @weeks.each do |dt| %>
        <th><%= dt.strftime('%b %e') %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Created</th>
      <% @opened_weeks.each do |bin| %>
        <td><%= bin.values.count %></td>
      <% end %>
    </tr>
    <!--
    <tr>
      <th>Points</th>
      <% @opened_weeks.each do |bin| %>
        <td><%= Issue.sum(bin.values.map(&:story_points)).to_i %></td>
      <% end %>
    </tr>
    -->
    <tr>
      <th>Resolved</th>
      <% @closed_weeks.each do |bin| %>
        <td><%= bin.values.count %></td>
      <% end %>
    </tr>
    <!--
    <tr>
      <th>Points</th>
      <% @closed_weeks.each do |bin| %>
        <td><%= Issue.sum(bin.values.map(&:story_points)).to_i %></td>
      <% end %>
    </tr>
    -->
  </tbody>
</table>

<h3>Defect Summary</h3>
<ul>
  <li><%= @opened.count %> Defects Opened
    <ul>
      <% @opened.priorities.count.each do |k, v| %>
        <li><%= v %> <%= k %></li>
      <% end %>
    </ul>
  </li>
  <li><%= @closed.count %> Defects Closed
    <ul>
      <% @closed.priorities.count.each do |k, v| %>
        <li><%= v %> <%= k %></li>
      <% end %>
    </ul>
  </li>
  <li><%= @opened.where('resolved_at is null').count.to_f / @opened.count %>% Escape Rate</li>
</ul>

<p>
<%= @closed.map {|c| (c.resolved_at.to_date - c.issue_created_at.to_date).to_i }.sort.join(', ') %>
</p>
