<div class="col-2">
  <%= render 'layouts/filters' %>
</div>
<div class="col">
  <h1><%= params[:p] %> Backlog</h1>
  <h3>Backlog by Month</h3>
  <table class="table">
    <thead>
      <tr>
        <th class="fa-width"></th>
        <th></th>
        <th>Points</th>
        <th>Tickets</th>
        <th>Unpointed</th>
        <th>Bugs</th>
      </tr>
    </thead>
    <tbody>
    <% @months.each do |month, query| %>
      <tr>
        <td><%= fa_icon 'database', data: { toggle: 'popover', 'original-title' => query.to_sql } %></td>
        <th><%= month.strftime('%B %Y') %></th>
        <td><%= query.sum(:story_points) %></td>
        <td><%= query.count %></td>
        <td><%= query.where(story_points: 0).count %></td>
        <td><%= query.issue_type('Bug').count %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <h3>Backlog Summary</h3>
  <table class="table">
    <% @summary.issue_types.count.each do |typ, count| %>
      <tr>
        <th><%= typ %></th>
        <td>Count: <%= count %></th>
        <td>Points: <%= @summary.issue_type(typ).sum(:story_points) %></td>
        <td>Unpointed: <%= @summary.issue_type(typ).where(story_points: 0).count %></td>
        <% @summary.where(issue_type: typ).priorities.count.each do |pri, cnt2| %>
          <td><%= pri %>: <%= cnt2 %></td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <div class="row">
    <div class="col">
      <canvas id="priorities"
          height="200"
          title="Backlog Priority Values"
          data-chart="bar"
          data-labels="<%=raw @summary.priorities.count.map {|k, _| k }.join(',') %>"
          data-values="<%=raw @summary.priorities.count.map {|_, v| v }.join(',') %>"></canvas>
    </div>
    <div class="col">
      <canvas id="issue-types"
          height="200"
          title="Backlog by Issue Type"
          data-chart="bar"
          data-labels="<%=raw @summary.issue_types.count.map {|k, _| k }.join(',') %>"
          data-values="<%=raw @summary.issue_types.count.map {|_, v| v }.join(',') %>"></canvas>
    </div>
    <div class="col">
      <canvas id="ticket-origins"
          height="200"
          title="Backlog by Ticket Origins"
          data-chart="bar"
          data-labels="<%=raw @summary.ticket_origins.count.map {|k, _| k }.join(',') %>"
          data-values="<%=raw @summary.ticket_origins.count.map {|_, v| v }.join(',') %>"></canvas>
    </div>
  </div>
</div>